examples/doc01
examples/doc02
examples/ex01
examples/ex02
examples/ex03
examples/ex04
examples/ex05
examples/ex06
examples/ex07
examples/ex08
examples/ex09
examples/ex10
examples/ex11
examples/ex12
examples/ex13
examples/stiffmat
examples/smat2d.go
examples/smat3d.go
examples/hmat
examples/hmvec
examples/matmatmul
examples/vecmatvecmul
examples/hmat2d.go
examples/hmat3d.go
examples/hmvec2d.go
examples/hmvec3d.go
*.f90
